.projects {
    width: 65%;
    text-align: center;
    opacity: 0.3;
    transform: translateX(50%);
}

.projects-links {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-link {
    box-sizing: border-box;
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 15px 0;
}

.project-link a {
    text-decoration: none;
    text-align: center;
    color: white;
    width: 100%;
}

.project-stack {
    box-sizing: border-box;
    width: 0;
    display: flex;
    align-items: center;
}

.project-stack img {
    width: 27px;
    height: 27px;
    object-fit: contain;
    margin: 0;
    position: relative;
    left: 20px;
    padding: 0px 10px 5px 0px;
}


.none {
    padding: 0px 0px 5px 0px !important;
}

.project-arrow {
    position: relative;
    color: rgb(0, 120, 0);
    width: 0;
    right: 40px;
    top: 4px;
    transition: 500ms ease-in;
    opacity: 1;
    font-size: 40px;
}

.arrow-animation {
    transition: 500ms ease-out;
    opacity: 0;
    transform: translateX(-15px);
    font-size: 30px;
}


@media screen and (max-width: 480px) {

    .projects {
        width: 90%;
    }
    
    .project-link {
        width: 70%;
    }

    .project-link img {
        position: absolute;
        display: none;
        left: 88%;
    }
    
    .project-arrow {
        right: 35px;
    }
}