.project {
    box-sizing: border-box;
    width: 75%;
    text-align: center;
}

.project h1 {
    font-size: 40px;
    margin-top: 0;
}

.project-details {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px 0;
}

.project-image img {
    grid-column: 1/2;
    width: 600px;
    border: 3px solid rgb(0, 0, 155);
    border-radius: 10px;
}

.project-description {
    grid-column: 2/3;
    padding: 20px 45px;
}

.project-description p {
    margin: 25px 0;
    font-size: 18px;
}